<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/inicio"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion *ngFor="let a of asistencias">
        <ion-item slot="header" color="light" *ngIf="a.rut === sesion_rut">
          <ion-label>nombre evento: {{ a.nombre }}</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <ion-item>Rut usuario: {{ a.rut}}</ion-item>
          <ion-item>Fecha: {{ a.fecha }}</ion-item>
          <div style="display: flex; justify-content: center; align-items: center;">
            <ion-button (click)="borrarAsistencia(a)" expand="block" fill="solid" shape="round">
              Eliminar asistencia
            </ion-button>
            <ion-button (click)="mostrarQR(a)" expand="block" fill="solid" shape="round" color="primary">
              Mostrar QR
            </ion-button>
          </div>   
        </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>Duoc UC</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-footer>