<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/inicio"
        text=""
        color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ Nasistencia.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ Nasistencia.fecha }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <h3> {{ Nasistencia.rut }} </h3>
        <h3> {{ Nasistencia.email }} </h3>
      </ion-label>
    </ion-card-content>

  <ion-button (click)="mensajeConfirmar()" expand="block" fill="clear" shape="round">
    registrarse
  </ion-button>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title>Duoc UC</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-footer>
